

<dev>
<img src="/img/bobsBurgers01.jpg" alt="image of bob's burgers" class="burgerImg"></img>
</dev>

<h1>Burgers!</h1>

{{!-- <form id="makeNewBurger" action="/api/burger" method="POST"> --}}
<form id="makeNewBurger">
    <div class="form-group">
        <label for="userInputName">Add a new Burger of the day: </label>
        <input type='text' name="burgerName" id="userInputName">
    </div>

    {{!-- <button type="submit" class="btn btn-primary" id='submitNew'>Submit</button> --}}
    <button class="btn btn-primary" id='submitNew'>Submit</button>
</form>







<h3>Ideas for burgers of the day we can use: </h3>
<ul>
{{#each x}}
{{#unless devoured}}
{{>addButtons devoured=false}}

{{!-- test {{id}} --}}
    {{!-- <div> --}}
{{!-- <h5 id="display1">Burger ID: {{id}}</h5> --}}
{{!-- <h5>- {{burgerName}}</h5> --}}
{{!-- <h5 id="display3">Devoured? {{devoured}}</h5> --}}

{{!-- </div> --}}
      {{/unless}}
      {{/each}}
</ul>


<h3>Already done these ones:</h3>
<ul>
{{#each x}}
{{#if devoured}}
{{>addButtons devoured=true}}

{{!-- test {{id}} --}}
    {{!-- <div> --}}

{{!-- <h5 id="display1">Burger ID: {{id}}</h5> --}}
{{!-- <h5>- {{burgerName}}</h5> --}}
{{!-- <h5 id="display3">Devoured? {{devoured}}</h5> --}}

{{!-- </div> --}}
{{!-- <div>Number of people that laughed at the burger of the day: 0 </div> --}}
      {{/if}}
      {{/each}}
</ul>



